services:
  jenkins:
    build: .  # build file Dockerfile ở thư mục hiện tại
    # image: jenkins/jenkins:lts
    container_name: jenkins-server # Đặt tên cố định cho dễ tìm
    user: root 
    ports:
      - "8081:8080"
      - "50001:50000"
    volumes:
      - jenkins_home:/var/jenkins_home
      - /var/run/docker.sock:/var/run/docker.sock # Vẫn cần cái này
    depends_on:
      - sonarqube

  sonarqube:
    image: sonarqube:lts-community
    ports:
      - "9001:9000"
    environment:
      - SONAR_ES_BOOTSTRAP_CHECKS_DISABLE=true

volumes:
  jenkins_home: